<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LBAlertJustifyLeftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6E9C2E71ED971A600CDB1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E9C3001ED971A600CDB1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E9C30B1ED971A600CDB1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
